<!--The whole content below can be removed with the new code.-->

<!--? gives you security that won't run if there isn't info-->
The question is: {{questionInfo?.question}}

<br>
The category is: {{questionInfo?.category.title}}
<br>
The question is worth: {{questionInfo?.value}}
<br>
Your score :  {{ alex.totalAmount }}
<br>

don't peak, but the answer is :  {{questionInfo?.answer}}



<app-answer #alex (nextQuestion)="getDataFromService()" [jeopardyAnswer]="questionInfo?.answer" [jeopardyAmount]="questionInfo?.value"></app-answer>
